---
interface Props {
  title: string;
  date: string;
  slug: string;
  description: string;
  readingTime: number;
}

const { title, date, slug, readingTime, description } = Astro.props;
---

<a href={`/posts/${slug}`}>
  <li class="mb-6">
    <span>
      <span class="font-bold">{title}</span>
      <span class="text-neutral-500">{date} / {readingTime}min</span>
    </span>
    <div class="text-neutral-400 dark:text-neutral-600">
      {description}
    </div>
  </li>
</a>
